#heading1{
    text-align: center;
    color: rgb(236, 82, 82);
}
#dheading{
    color: rgb(62, 5, 114);
    text-align: center;
}
#para1{
  text-align: center;
}
#footer1{
    text-align: center;
    color: rgb(241, 60, 60);
}
#diw{
    text-align: center;
}
#footd{
    text-align: center;
    color: rgb(32, 4, 59);
}
#diwali{
    background-color: rgb(216, 183, 246);
}
#holi{
    background-color: rgb(247, 247, 195);
}
#eid{
    background-color: rgb(238, 227, 197);
}
#eheading{
    text-align: center;
    color: rgb(58, 42, 2);
}
#ep{
    text-align: center;
}
#efooter{
    color: rgb(59, 44, 5);
    text-align: center;
}
#inday{
    text-align: center;
    color: rgb(132, 39, 5);
}
#indb{
    background-color: rgb(251, 222, 212);
}
#indp{
    text-align: center;
}
#indf{
text-align: center;
color: rgb(84, 26, 5);
}